{{template "default" .}}
{{define "content"}}
<div class="mb-1 form-control bg-light">Сервер : </div>
<div class="row">
    <div class="col-12">
        <div class="table-responsive fixed-table-body">

            <table id="ttt" class="table table-striped table-bordered table-hover align-middle">
                <thead>
                    <tr>
                        <th>№_</th>
                        <th>Certificate</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Contact</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody >
                    {{ range $i, $n := .}}          
                               <tr>
                                   <td class="text-end">{{$i}}</td>
                                   <td class="text-center">{{ $n.Cert }}</td>
                                   <td class="text-end">{{ $n.Name }}</td>
                                   <td class="text-end">{{ $n.Address }}</td>
                                   <td class="text-end">{{ $n.Contact }}</td>
                                   <td class="text-end">{{ $n.Description }}</td>
                               </tr>
                      {{ end}}         
                           </tbody>
            </table>
        </div>
    </div>
</div>




{{end}}
