{{template "default" .}}
{{define "content"}}
<div class="mb-1 form-control bg-light">Сервер : </div>
    <div class="row ">
        <div class="col-12">
            <div class="table-responsive fixed-table-body">

                <table class="table table-striped table-bordered table-hover align-middle">
                    <thead>
                        <tr>
                            <th>№_</th>
                            <th>Сертификат</th>
                            <th>Абонент</th>
                            <th>Подключался</th>
                            <th>IP</th>
                            <th>Действителен</th>
                            <th class="text-center">Статус</th>
                        </tr>
                    </thead>
                    <tbody >
                        {{ range $i, $n := .}}          
                                   <tr>
                                       <td class="text-end">{{$i}}</td>
                                       <td class="text-center">{{ $n.Name }}</td>
                                       <td class="text-end">{{ $n.Abonent.Name}}, {{ $n.Abonent.Address}}</td>
                                       <td class="text-end"></td>
                                       <td class="text-end"></td>
                                       <td class="text-end">{{ $n.DateExpired.Format "02-01-2006 15:04"}}</td>
                                       <td class="text-end"></td>
                                    </tr>
                          {{ end}}         
                               </tbody>
    
                </table>
            </div>
        </div>
    </div>

{{end}}
