{{template "default" .}}
{{define "content"}}

    <div class="row ">
       <h1>DASHBOARD</h1>
    </div>



<script src="static/js/dashboard.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap.css"> 
{{end}}
