{{define "default"}}
<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/default.css">
    <script src="/static/js/bootstrap.js"></script>
    <title>Ovpnadmin. Сервер: </title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light pb-0">
            <a class="navbar-brand" href="http://ovpnadmin.sibtcs.krsk.ru"><img width="200px"
                    src="/static/img/ifsoft-logo.png" /></a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/" aria-current="page">Online</a></li>
                    <li class="nav-item"><a class="nav-link" href="/abonents" aria-current="page">Abonents</a></li>
                    <li class="nav-item"><a class="nav-link" href="/certs" aria-current="page">Certificates</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logs" aria-current="page">logs</a></li>
                </ul>
            </div>
            <!-- <div class="navbar-text text-lg-center"><span class="h5">person</span></div> -->

        </nav>
        <div class="row p-0 m-0 border-bottom border-1"></div>
    </div>

    <div class="container mt-3">
        <!-- content -->
        {{template "content" .}}
        <!-- footer -->
    </div>
    <div class="container mt-3 mb-3 text-center">
        <span class="text-secondary text">IFSOFT.ORG BY (C) WOODMIN KRASNOYARSK 2023. </span>
    </div>
</body>

</html>
{{end}}