{{template "default" .}}
{{define "content"}}
<!-- Content -->
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="row  mt-3">
            <div class="col-4"><label class="">Login</label></div>
            <div class="col-8"><input type="text" class="form-control form-control-sm" /></div>
        </div>
        <div class="row  mt-3">
            <div class="col-4"><label class="">Password</label></div>
            <div class="col-8"><input type="text" class="form-control form-control-sm" /></div>
        </div>
        <div class="row  mt-3">
            <div class="col-12 text-center"><button type="button" class="btn btn-sm btn-secondary">Войти</button></div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

<!-- End content -->
<script src="/static/js/login.js"></script>
<link rel="stylesheet" href="../static/css/bootstrap.css">
{{end}}