{{template "default" .}}
{{define "content"}}

    <div class="row ">
       <h1>LOGS</h1>
    </div>



<script src="static/js/logs.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap.css">
{{end}}
