{{template "default" .}}
{{define "content"}}
<!-- Content -->

    <div class="row mt-3">
        <div class="col-lg  mt-3 text-center">
            <div class="row"><div class="col">Cisco 1921-1 (95.188.114.216)</div></div>
            <div class="row"><div class="col"><img id="c1921_1" class="shadow mrtg_images"/></div></div>
        </div>
        <div class="col-lg  mt-3  text-center">
            <div class="row"><div class="col">Cisco 1921-2 (46.166.66.97)</div></div>
            <div class="row"><div class="col"><img id="c1921_2" class="shadow mrtg_images"/></div></div>
        </div>
        <div class="col-lg  mt-3 text-center">
            <div class="row"><div class="col ">Cisco 851 (95.188.83.197)</div></div>
            <div class="row"><div class="col"><img id="c851" class="shadow mrtg_images"/></div></div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg  mt-3  text-center">
            <div class="row"><div class="col">Красноярск (10.150.0.0/16)</div></div>
            <div class="row"><div class="col"><img id="kras" class="shadow mrtg_images"/></div></div>
        </div>
        <div class="col-lg  mt-3 text-center">
            <div class="row"><div class="col ">Регионы (10.250.0.0/16)</div></div>
            <div class="row"><div class="col"><img id="region" class="shadow mrtg_images"/></div></div>
        </div>
        <div class="col-lg  mt-3 text-center">
            <div class="row"><div class="col">Персонал (10.10.100.0/24)</div></div>
            <div class="row"><div class="col"><img id="person" class="shadow mrtg_images"/></div></div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg  mt-3 text-center">
            <div class="row"><div class="col">Красинформ (10.1.32.17)</div></div>
            <div class="row"><div class="col"><img id="krasinform" class="shadow mrtg_images"/></div></div>
        </div>
        <div class="col-lg  mt-3  text-center">
            <div class="row"><div class="col">Link to Sterra (VLAN 116)</div></div>
            <div class="row"><div class="col"><img id="sterra" class="shadow mrtg_images"/></div></div>
        </div>
        <div class="col-lg  mt-3 text-center">
            <div class="row"><div class="col">Телеграф (192.168.225.201/128)</div></div>
            <div class="row"><div class="col"><img id="telegraf" class="shadow mrtg_images"/></div></div>
        </div>
    </div>


<!-- End content -->
<script src="/static/js/mrtg.js"></script>
<link rel="stylesheet" href="../static/css/bootstrap.css">

{{end}}