{{template "default" .}}
{{define "content"}}
<div class="mb-1 form-control bg-light">Сервер : </div>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive fixed-table-body">

                <table id="ttt" class="table table-striped table-bordered table-hover align-middle">
                    <thead>
                        <tr>
                            <th>№_</th>
                            <th>Certificatte</th>
                            <th>Extendet IP</th>
                            <th>Vpn IP</th>
                            <th width="120px">Network</th>
                            <th width="86px">Hosts</th>
                            <th>Abonent</th>
                            <th>Upload</th>
                            <th>Download</th>
                            <th class="text-center">Time connected</th>

                        </tr>
                    </thead>
                    <tbody >
             {{ range $i, $n := .}}          
                        <tr>
                            <td class="text-end">{{$i}}</td>
                            <td class="text-center">{{ $n.Cert }}</td>
                            <td class="text-end">{{ $n.ExtIp }}</td>
                            <td class="text-end">{{ $n.VpnIp }}</td>
                            <td class="text-end">{{ $n.Network }}</td>
                            <td class="text-center">{{ range $s, $k := $n.Hosts }} {{ $k }} {{ end }} </td>
                            <td class="text-center">{{ $n.Abonent.Name }}, {{ .Abonent.Address }}</td>
                            <td class="text-end">{{ $n.Upload }}</td>
                            <td class="text-end">{{ $n.Download }}</td>
                            <td class="text-center">{{ $n.TimeConnect }}</td>
                        </tr>
               {{ end}}         
                    </tbody>
                </table>
            </div>
        </div>
    </div>


 
{{end}}
