{{template "default" .}}
{{define "content"}}
<!-- Content -->

<div class="row">
    <!-- клонка насроек почты-->
    <div class="col-lg-4">
        <div class="row  mt-3">
            <div class="col-12 text-center">
                <label class="form-check-label">Email notify :</label>
                <input class="form-check-input" type="checkbox">
            </div>
        </div>

        <div class="row  mt-3">
            <div class="col-4"><label class="">Hostname</label></div>
            <div class="col-8"><input type="text" class="form-control form-control-sm" /></div>
        </div>
        <div class="row  mt-3">
            <div class="col-4"><label class="">Port</label></div>
            <div class="col-8"><input type="text" class="form-control form-control-sm" /></div>
        </div>
        <div class="row  mt-3">
            <div class="col-4"><label class="">Login</label></div>
            <div class="col-8"><input type="text" class="form-control form-control-sm" /></div>
        </div>
        <div class="row  mt-3">
            <div class="col-4"><label class="">Password</label></div>
            <div class="col-8"><input type="password" class="form-control form-control-sm" /></div>
        </div>
        <div class="row  mt-3">
            <div class="col-12 text-center"><button type="button" class="btn btn-sm btn-secondary">Отправитьтестовое
                    письмо</button> </div>
        </div>
    </div>
    <div class="col-lg-1">
    </div>
    <!-- конлонка настройк telegram-->
    <div class="col-lg-4">
        <div class="row  mt-3">
            <div class="col-12 text-center">
                <label class="form-check-label">Telegram notify :</label>
                <input class="form-check-input" type="checkbox">
            </div>
        </div>

        <div class="row  mt-3">
            <div class="col-4"><label class="">BotToken</label></div>
            <div class="col-8"><input type="text" class="form-control form-control-sm" /></div>
        </div>
        <div class="row  mt-3">
            <div class="col-4"><label class="">ChatId</label></div>
            <div class="col-8"><input type="text" class="form-control form-control-sm" /></div>
        </div>
        <div class="row  mt-3">
            <div class="col-12 text-center"><button type="button" class="btn btn-sm btn-secondary">Отправить тестовое
                    сообщение</button> </div>
        </div>

    </div>

</div>




<!-- End content -->
<script src="/static/js/settings.js"></script>
<link rel="stylesheet" href="../static/css/bootstrap.css">
{{end}}