/*

div{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
*/

body{
    overflow-y: scroll;
}

.nav-item{
    font-weight: bold;


}

.mrtg_images{
    opacity:0.5;
    transition: 0.3s;
}
.mrtg_images:hover{
    opacity:1;
    transition: 0.3s; 
}

table{
    font-size: small;
}

#loading{
    display: none;
}


